*.o
*.so
*.a
*.pyc
*.swp
*.bloom
*.fasta
*.fastq
*.info
*.json

core.*
vgcore.*
*.egg-info
tests/data
tests/simNGS
tests/simNGS.*
build/
dist/

.cproject
.idea/
.project
cov-int/
facs
facs.py
facs_wrap.c
cpanm
fastq_screen_*
